@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite-datepicker";
@source "../../node_modules/flowbite-datepicker/src/css/datepicker.css";
@import "flowbite-datepicker/src/css/datepicker.css";
@plugin "flowbite-typography";
